body {
   color: darken($grey, 75%);
}

/* Fonts */
@font-face {
   font-family: 'FuturaLT-Bold';
   src: url('../fonts/FuturaLT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaLT-Bold.woff') format('woff'),
        url('../fonts/FuturaLT-Bold.ttf')  format('truetype'),
        url('../fonts/FuturaLT-Bold.svg#FuturaLT-Bold') format('svg');
   font-weight: normal;
   font-style: normal;
}

p {
   font-family: 'Crete Round', serif;
}

small {
   font-size: 12px;
   &.copywright {
      color: darken($grey, 30%);
   }
}

h1,h5 {
   font-family: 'FuturaLT-Bold', arial, sans-serif;
}





/* Icons */
@font-face {
   font-family: 'icon-social';
   src:url('../fonts/icon-social.eot?aa6f0j');
   src:url('../fonts/icon-social.eot?#iefixaa6f0j') format('embedded-opentype'),
      url('../fonts/icon-social.woff?aa6f0j') format('woff'),
      url('../fonts/icon-social.ttf?aa6f0j') format('truetype'),
      url('../fonts/icon-social.svg?aa6f0j#social') format('svg');
   font-weight: normal;
   font-style: normal;
}

[class^="icon"], [class*=" icon"] {
   font-family: 'icon-social';
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-social-email:before {
   content: "\e600";
}

.icon-social-facebook:before {
   content: "\e601";
}

.icon-social-twitter:before {
   content: "\e602";
}


.icon-container {
   vertical-align: top;
   background-color: darken($grey, 5%);
   display: inline-block;
   border-radius: 100%;
   font-size: 1em;
   padding: 14px;
   width: 44px;
   height: 44px;
   @media (min-width: $width-small) {
      font-size: 1.4em;
      padding: 16px;
      width: 54px;
      height: 54px;
   }
}
