/* Media Queries */
$width-small: 480px; /* Tablet */
$width-medium: 1024px; /* Laptop */
$width-large: 1280px; /* Desktop */


/* Colors */
$blue: #62e3e1;
$black: #000000;
$grey: #ebebeb;
$white: #ffffff;
